.root {
  display: flex;
}
.appBar {
  height: "70px";
  color: #021846;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0;
}

.appContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  padding-inline: 30px;
  background-color: #f9fafc;
}
